/*styling*/
/*navbar styling*/
.navbar-brand {
    padding: 10px;
    margin-left: 5%;
}
.navbar-collapse{
    position: absolute;
    right: 5%;
}

.main-image {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
}
.thumbnail {
    width:70%;
}
.title {
    font-weight: bolder;
    text-align: center;  
}
.active, .panel:hover {
    border-style: solid;
}
.panel {
    width:75%;
}